FooterMenu {
    height: 3;
}

HorizontalCanvas {
    height: 35;
}
Popup {
    align: center middle;
}

Popup Static {
    background: #222;
    color: white;
    padding: 1 2;
    width: 40;
    height: 3;
    border: round white;
}

Popup Button {
    margin-top: 1;
    width: 10;
}
Screen {
    background: #111;
}

#position {
    color: green;
    padding: 1;
}

Button {
    border: round white;
}

Canvas {
    border: round blue;
}
